{% extends 'frontend/base.html' %}
{% block content %}
<div class="container">
    <div class="row border rounded border-5 p-3 rem-border">
        <div class="col-sm-7 align-self-center mb-4">
            <p class="fs-2 fw-bold">What is Math for kids?</p>
            <p class="fs-4">
                Essentially, it is a simple note-taking platform,
                where you can write all the important to-dos,
                check the time that you spent in specific category that you do also help you
                to track all of your progress.
            </p>
        </div>
        <div class="col-sm-5 align-self-center">
            <div class="d-flex justify-content-center">
                <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_lan9twdz.json"
                    background="#0D6EDF" speed="1" class="activity-lottie" loop autoplay></lottie-player>
            </div>
        </div>

    </div>
</div>
{% endblock content %}