{% extends 'frontend/base.html' %}
{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="col border border-4 align-self-center rem-border">
            <div class="text-center">
                <h1 class="p-5 fs-1">Welcome to Math for Kids!</h1>
            </div>
            <div class="row mb-4">
                <div class="col-sm-7">
                    <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores ut
                        earum
                        expedita maxime,
                        blanditiis, ratione quam, fugit molestiae non nam voluptas veniam sapiente. Ea quo explicabo
                        consequatur
                        voluptate est.</p>
                </div>
                <div class="col-sm-5">
                    <div class="d-flex justify-content-center lottie">
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_O1PJ81.json"
                            background="transparent" speed="1" style="max-width: 400px; max-height: 400px;" loop
                            autoplay>
                        </lottie-player>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}