{% extends 'frontend/base.html' %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MULTIPLICATION</h5>
                    <div class="ratio ratio-4x3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eW2dRLyoyds?start=5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DIVISION</h5>
                    <div class="ratio ratio-4x3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rGMecZ_aERo?start=5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ADDITION</h5>
                    <div class="ratio ratio-4x3">
                        <iframe src="https://www.youtube.com/embed/8cR_1Qi-tP4?start=5" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SUBTRACTION</h5>
                    <div class="ratio ratio-4x3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qKxQ33KcRWQ?start=5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MIXED MDAS</h5>
                    <div class="ratio ratio-4x3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xJBmbfs0R6M?start=5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}